@use "sass:map";
@import "style/pages/theme";

.breadcrumd {
  display: flex;
  align-items: center;
  padding: 45px 0 40px;
  justify-content: center;
  line-height: 30px;
  background: map.get($theme-colors, "main");
  text-align: center;

  .breadcrumd_text {
    color: #fff;

    h2 {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      list-style: none;
      column-gap: 10px;

      li {
        text-decoration: underline;
        color: map.get($theme-colors, "description");

        a {
          text-decoration: none;
          color: #fff;
        }
        &.link {
          text-decoration: none;

          :hover {
            color: map.get($theme-colors, "description");
          }
        }
      }
    }
  }
}
