@use "sass:map";
@import "style/pages/all";

.container_categories_slider {
  max-width: 1200px !important; //!important sẽ ghi đè mọi quy tắc CSS khác, ưu tiên cao nhất
  margin-top: 30px !important;

  .categories_slider {
    .container_categories_item {
      height: 300px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-radius: 5px;

      p {
        position: absolute;
        left: 5%;
        bottom: 20px;
        text-align: center;
        font-size: 18px;
        color: map.get($theme-colors, "normal-text");
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        width: 270px;
        cursor: pointer;

        &:hover {
          background: rbg(237 237 237);
        }
      }
    }

    .react-multi-carousel-item:not(:first-child):not(:last-child) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.feature {
  margin-top: 50px;

  .section-title {
    margin-bottom: 50px;
    text-align: center;

    h2 {
      position: relative;
    }

    h2:after {
      position: absolute; //Phần tử không còn chiếm chỗ trong luồng bố cục của trang (điều chỉnh từ phần tử cha gần nhất).
      left: 0;
      bottom: -15px;
      right: 0;
      width: 80px;
      height: 4px;
      background: map.get($theme-colors, "main");
      content: "";
      margin: 0 auto;
    }
  }

  .react-tabs {
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    li {
      list-style: none;
      font-size: 18px;
      color: map.get($theme-colors, "normal-text");
      display: inline-block;
      margin-right: 25px;
      position: relative; //Phần tử vẫn giữ chỗ của mình trên trang (không ảnh hưởng đến bố cục tổng thể).
      cursor: pointer;
    }
  }
  .featured_item {
    margin-bottom: 50px;

    &:hover {
      .featured_item_pic_hover {
        bottom: -15% !important;
      }
    }

    .featured_item_pic {
      height: 270px;
      position: relative;
      overflow: hidden;
      background-position: center;
      margin-right: 10px;

      ul {
        position: absolute;
        left: 0;
        bottom: -40%;
        width: 100%;
        text-align: center;
        transition: all 0.5s;

        li {
          list-style: none;
          display: inline-block;
          margin-right: 10px;

          &:hover {
            svg {
              background: #7fad39;
              border-color: #7fad39;
              //border-radius: 50%;
              color: #fff;
              transform: rotate(360deg) !important; // xoay 360 độ
            }
          }

          svg {
            padding: 10px;
            height: 20px;
            width: 20px;
            border: 1px solid #ebebebeb;
            border-radius: 50%;

            background: #fff;
            color: #565555;
            transition: all 0.3s; //hiệu ứng chuyển động
          }
        }
      }
    }

    .featured_item_text {
      text-align: center;

      h6 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;

        a {
          color: map.get($theme-colors, "normal-text");
          text-decoration: none; // xoá dấu gạch chân
        }
      }

      h5 {
        color: map.get($theme-colors, "normal-text");
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
      }
    }
  }
}

.banner {
  display: flex;
  gap: 171px;
  margin-bottom: 30px;
  width: 100%;
}
